{% extends 'layouts/base.html.twig' %}

{% block title %}CLONE{% endblock %}

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="mb-4 text-muted text-center">Dernières publications ({{pins|length}})</h1>
        <!-- H1 : (double-accolade) pluralize(pins|length, 'Pin') (double-accolade)}-->
        {% for row in pins|batch(3) %}
            <div class="row mb-5 justify-content-center">
                {%  for pin in row %}
                    <div class="col-md-4">
                        <article class="bg-white rounded shadow pin ">
                            <div class="mw-100 overflow-hidden rounded-top">
                                <a  href="{{ path('app_pins_show', {id: pin.id}) }}">
                                    <img class="w-100"src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/placeholder.jpg'))| imagine_filter('squared_thumbnail_medium')}}" alt="{{ pin.title }}" />
                                </a>
                            </div>
                            <h2 class="h5 text-center pt-2"><a class="text-muted text-decoration-none text-secondary" href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
                            <p class="text-center text-muted pb-3"><small>Publié par {{pin.user.pseudo}}</small></p>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center h2 mt-5">Aucun post pour le moment... soyez le premier : <a href="{{path('app_pins_create')}}">Nouveau Post</a></p>
    {% endif %}
{% endblock %}

