<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container">
      <a class="navbar-brand" href="{{path('app_home')}}">CLONE</a>
      {% if app.user %}
      <a class="navbar-text disabled" id="logged-as">Connecté(e) en tant que {{app.user.pseudo}}</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav ml-auto">
          {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_pins_create')}}">Nouveau Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('account')}}">Espace Personnel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="event.preventDefault();document.getElementById('js-logout-form').submit();">Deconnexion</a>
          </li>
          
          <form id="js-logout-form"action="{{ path('app_logout')}}" style="display:none;" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">

          </form>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
          </li>
          {% endif %}
        </ul>
      </div>
  </div>
</nav>

